@import "_variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//VARIABLES

$accent-color1: #ffba19;
$accent-color2: #ff7706;
$accent-color3: #ff88d5;
$accent-color4: #7959ff;
$accent-color5: #46b336;
$border-color: #000000;

//MIXINS

@mixin box-style($color) {
  background-color: $color;
  border: 4px solid $border-color;
  border-radius: 30px;
  h1,
  h2 {
    border-bottom: 2px $border-color solid;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
  }
  h3 {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 7px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid $border-color;
    border-radius: 10px;
    text-align: center;
  }
  p,
  li {
    font-size: 18px;
    font-weight: 400;
  }
}

@mixin zoom-effect($color) {
  transform: scale(1);
  transition: transform 400ms;
  &:hover {
	box-shadow: 6px 6px 0px $color, 10px 10px 0px $border-color;
    transform: scale(1.01);
  }
}

//CODE SCSS

body {
  margin: 0;
  padding: 0;
  color: #000000;
}

#profile-box {
  @include box-style($accent-color1);
  @include zoom-effect($accent-color1);
}
#jobs-box {
  @include box-style($accent-color2);
  @include zoom-effect($accent-color2);
  h3 {
	margin-top: 20px;
	width: 250px;
  }
}
#skills-box {
  @include box-style($accent-color3);
  @include zoom-effect($accent-color3);
  h3 {
    width: 150px;
  }
}
#school-box {
  @include box-style($accent-color4);
  @include zoom-effect($accent-color4);
  h3{
	width: 300px;
  }
}
#link-box1,
#link-box2 {
  @include box-style($accent-color5);
  @include zoom-effect($accent-color5);
  p {
	  text-align: center;
	  margin: 5% 0 5% 0;
	  text-transform: uppercase;
	  i {
		  margin-left: 15px;
	  }
  }
}

#profile-pic {
  padding: 0;
  margin: 0;
  img {
    border: 4px solid $border-color;
    border-radius: 30px;
    @include zoom-effect(#9b999c);
  }
}

#border-bottomed {
  width: 100%;
  border-bottom: 2px $border-color solid;
}
#has-border-right {
  border-right: 2px $border-color solid;
}
