/* #223843 charbon #fffbf7 ivoire #F5CAC3 rose */

body {
	font-family: 'Cutive Mono', monospace, "Courier New", sans-serif;
}

aside {
	background-color: #F5CAC3;
	color: #fffbf7;
}

#nom {
	background-color: #fffbf7;
	color: #223843;
}

#prenom {
	font-weight: bold;
	color: #F5CAC3;
}

#underline {
	border-bottom: 2px #223843 solid;
}

nav {
	background-color: #F5CAC3;
	color: #223843;
	border-top: 20px #F5CAC3 solid;
}

#parcours {
	background-color: #fffbf7;
	color: #223843
}

.structure {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.titre-section {
	text-transform: uppercase;
	color: #223843;
	border-bottom: 2px #F5CAC3 solid;
	font-size: 2rem;
	margin: 5% 0 5% 0;
}

.titre-aside {
	color: #223843;
	background-color: #fffbf7;
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
}

.text-aside {
	padding: 5% 5% 5% 5%;
}

.btn-circle.btn {
	width: 50px;
	height: 50px;
	padding: 7px 10px;
	border-radius: 25px;
	font-size: 10px;
	text-align: center;
}

a {
	color: #223843;
}

a:hover {
	border-bottom: 2px #223843 dotted;
	text-decoration: none;
	color: #223843;
}

i.fab,
i.fas {
	color: #F5CAC3;
}